/API_FileLoc1
/auto_file_loaction
/Jupyter_API_Pull1.ipynb
/Jupyter_Web_scraping_prj1.ipynb
/Panda_data_cleaning1.ipynb
/Panda_exploritory_data_analysis.ipynb
/Panda_tutorial
/python_practice.code-workspace
/python_practice.py